@model FMS_M1_175272M.Models.ViewModels.FacilityType.SearchVM

<h2>Search Facility Type</h2>

<form asp-controller="FacilityType" asp-action="Search" method="get">
    <p>
        <label for="@Model.SearchFor">
            <span>Enter the Facility Type:</span>
            <input asp-for="SearchFor" value="@(Model.SearchFor)" />
        </label>
    </p>

    <p>
        <input type="submit" value="Search" />
        <button name="ClearSearch" type="submit" value="true">Clear</button>
    </p>
</form>

<table>
    <tr>
        <th>Id</th>
        <th>Type</th>
        <th>Description</th>
    </tr>

    @foreach (var facilityType in Model.FacilityTypes)
    {
        <tr>
            <td>@facilityType.Id</td>
            <td>@facilityType.Type</td>
            <td>@facilityType.Description</td>
        </tr>
    }
</table>